header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 40px 0;
  z-index: 1000;
}

@media (max-width: 420px) {
  header {
    padding: 20px 6.25%;
  }
}

header a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .name {
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  position: relative;
  font-family: 'futura_r';
  z-index: 1000;
}

header .name:hover {
  opacity: .8;
  color: #fff;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.fa,
.navList a,
.name,
.icons {
  color: #fff;
}

.fa {
  margin-left: 2rem;
  display: inline-block;
  font-size: 2rem;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 6.4rem;
}

@media screen and (max-width: 420px) {
  .icons {
    display: none;
  }
}

.menuIcon {
  cursor: pointer;
  width: 50px;
  height: 22px;
  position: relative;
}

@media screen and (max-width: 420px) {
  .menuIcon {
    width: 25px;
    height: 15px;
  }
}

.menuIcon.js-menuOpen:before {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translate3d(0, 50%, 0);
          transform: rotate(-45deg) translate3d(0, 50%, 0);
}

.menuIcon.js-menuOpen:after {
  top: 50%;
  -webkit-transform: rotate(45deg) translate3d(0, -50%, 0);
          transform: rotate(45deg) translate3d(0, -50%, 0);
}

.menuIcon:after, .menuIcon:before {
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  right: 0;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menuIcon:before {
  bottom: 0;
}

.menuIcon:after {
  top: 0;
}

header .navigation {
  background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  z-index: -100;
}

header .navigation.js-open {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

header .navigation.js-open a {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.navList {
  text-align: center;
  color: #fff;
}

.navList li {
  margin-top: 7.2rem;
  position: relative;
  padding: 0 153px;
  overflow: hidden;
}

.navList li:first-child {
  margin-top: 0;
}

.navList a {
  display: inline-block;
  color: #fff;
  font-size: 7rem;
  line-height: 1;
  letter-spacing: 0.1em;
  font-family: "Chivo";
  font-weight: normal;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.2);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #020b16;
  z-index: 99999;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #020b16;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%) translateZ(0px);
          transform: translateY(100%) translateZ(0px);
}

.fp-tableCell {
  position: relative;
}

@media (max-width: 420px) {
  .fp-section-1 .fullpage_slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-height: 667px;
  }
}

.fullpage_slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  position: relative;
}

@media (max-width: 420px) {
  .fullpage_slide {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 761px;
  }
}

.title {
  position: absolute;
  z-index: 200;
  overflow: hidden;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  margin-left: 11%;
  top: 50%;
}

@media (max-width: 800px) {
  .title {
    margin-left: 40px;
  }
}

@media (max-width: 420px) {
  .title {
    width: 87.5%;
    margin: 0 6.25%;
    top: auto;
    bottom: -3.5rem;
  }
}

@media (max-width: 420px) {
  .title--top {
    margin: 0 13%;
    bottom: 26%;
  }
}

.title_text {
  line-height: 1;
  font-size: 2.5rem;
  margin-bottom: .8rem;
  letter-spacing: 0.1em;
  font-family: "Asap";
  font-weight: normal;
  text-shadow: 0 3px 10px rgba(2, 11, 22, 0.5);
}

@media (min-width: 325px) and (max-width: 375px) {
  .title_text {
    font-size: 2.8rem;
  }
}

@media (min-width: 400px) and (max-width: 420px) {
  .title_text {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .title_text {
    font-size: 3.5rem;
  }
}

@media (min-width: 990px) {
  .title_text {
    font-size: 5.5rem;
  }
}

.title ul {
  padding-left: 0;
}

.title li {
  margin-bottom: 1.6rem;
}

@media (max-width: 420px) {
  .title li {
    margin-bottom: 0.8rem;
    line-height: 1.1;
  }
}

.title li:last-child {
  margin-bottom: 0;
}

.title li a {
  color: #fff;
}

.title .border {
  display: inline-block;
  -webkit-transform: translateX(0%) translateZ(0px);
          transform: translateX(0%) translateZ(0px);
}

.title .border span {
  display: block;
  width: 88px;
  height: 4px;
  border-radius: 5px;
  background: #ff4d5a;
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}

@media (max-width: 420px) {
  .title .border span {
    width: 44px;
    height: 2px;
  }
}

@media (max-width: 800px) {
  .title .border span {
    width: 70px;
  }
}

.title .border span:first-child {
  margin-bottom: 1.4rem;
}

@media (max-width: 420px) {
  .title .border span:first-child {
    margin-bottom: 0.7rem;
  }
}

.title .border span:last-child {
  margin-left: 54px;
}

@media (max-width: 420px) {
  .title .border span:last-child {
    margin-left: 27px;
  }
}

@media (max-width: 800px) {
  .title .border span:last-child {
    margin-left: 43px;
  }
}

.title_lead {
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

@media (max-width: 800px) {
  .title_lead {
    font-size: 2.4rem;
    line-height: 1.4;
  }
}

@media (min-width: 320px) and (max-width: 420px) {
  .title_lead {
    font-size: 1rem;
  }
}

.image {
  -webkit-transform: scale(1) translateX(0%) translateZ(0px);
          transform: scale(1) translateX(0%) translateZ(0px);
  display: block;
  position: relative;
  width: 53.125%;
  height: 74.81%;
  margin: 0 8% 0 auto;
  -webkit-box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
          box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
}

@media (max-width: 420px) {
  .image {
    width: 80%;
    height: 55.633%;
    margin: 0 10%;
    top: 9.859%;
  }
}

.image_over {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #ff4d5a;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  -webkit-transform: translateX(98.5238%) translateZ(0px);
          transform: translateX(98.5238%) translateZ(0px);
}

.image_cover:last-child {
  background: #072142;
  -webkit-transform: translateX(106.595%) translateZ(0px);
          transform: translateX(106.595%) translateZ(0px);
}

.btn-wrap {
  margin-top: 3.2rem;
}

@media (max-width: 800px) {
  .btn-wrap {
    margin-top: 1.6rem;
  }
}

@media (max-width: 420px) {
  .btn-wrap {
    margin-top: 0.8rem;
    text-align: center;
  }
}

.btn {
  display: inline-block;
  font-size: 1.8rem;
  color: #ff4d5a;
  background: #fff;
  line-height: 1;
  font-weight: bold;
  padding: 18px 32px;
  border-radius: 50px;
  -webkit-transition: .3s;
  transition: .3s;
  letter-spacing: 0.1em;
}

@media (max-width: 800px) {
  .btn {
    padding: 13px 24px;
    font-size: 1.8rem;
  }
}

@media (max-width: 420px) {
  .btn {
    font-size: 1.2rem;
  }
}

.image--projects {
  background: url("../img/bay.jpg") no-repeat center;
  background-size: cover;
}

.image--works {
  background: url("../img/brush.jpg") no-repeat center;
  background-size: cover;
}

.image--contact {
  background: url("../img/purp.jpg") no-repeat center;
  background-size: cover;
}

.page-num {
  position: absolute;
  overflow-y: hidden;
  right: -7.5490%;
  bottom: -12.3762%;
  font-size: 13rem;
  color: #fff;
  font-family: "Chivo";
  z-index: 200;
}

@media (max-width: 800px) {
  .page-num {
    font-size: 7.5rem;
    right: -5%;
  }
}

@media (max-width: 420px) {
  .page-num {
    display: none;
  }
}

.page-num p {
  -webkit-transform: translateY(0%) translateZ(0px);
          transform: translateY(0%) translateZ(0px);
  line-height: 1.1;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
}

@media (max-width: 420px) {
  .page-num p {
    text-shadow: 0 3px 10px rgba(2, 11, 22, 0.5);
  }
}

.scrollDown {
  position: fixed;
  font-size: 1.4rem;
  bottom: 80px;
  left: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #fff;
  z-index: 100;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media screen and (max-width: 420px) {
  .scrollDown {
    left: auto;
    right: 6.25%;
    font-size: 1rem;
    bottom: 40px;
  }
}

.scrollDown:after {
  content: "";
  width: 2px;
  height: 64px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 80px;
}

@media screen and (max-width: 420px) {
  .scrollDown:after {
    height: 32px;
    bottom: -40px;
  }
}

#fp-nav {
  margin: 0;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  width: 40px;
  left: 40px;
  overflow: hidden;
}

@media (max-width: 1250px) {
  #fp-nav {
    width: auto;
    top: auto;
    left: 50%;
    bottom: 32px;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

@media (max-width: 420px) {
  #fp-nav {
    bottom: 20px;
  }
}

@media (max-width: 1250px) {
  #fp-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

#fp-nav ul li {
  height: 3px;
  margin: 0 0 40px;
}

@media (max-width: 1250px) {
  #fp-nav ul li {
    height: auto;
    margin: 0 28px;
  }
}

@media (max-width: 420px) {
  #fp-nav ul li {
    margin: 0 12px;
  }
}

#fp-nav ul li a {
  width: 24px;
  height: 100%;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 1250px) {
  #fp-nav ul li a {
    width: 3px;
    height: 24px;
  }
}

@media (max-width: 420px) {
  #fp-nav ul li a {
    width: 2px;
    height: 16px;
  }
}

.ship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.ship_img {
  position: absolute;
  width: 100vh;
  height: 100%;
}

.layer {
  width: 100vh;
  height: 100%;
}

.ship_text-wrap {
  position: absolute;
  top: 75%;
  left: 31%;
}

@media (min-width: 325px) and (max-width: 360px) {
  .ship_text-wrap {
    top: 84%;
    left: 35%;
  }
}

@media (min-width: 375px) {
  .ship_text-wrap {
    left: 38%;
  }
}

@media (min-width: 411px) {
  .ship_text-wrap {
    left: 38%;
  }
}

@media (min-width: 768px) {
  .ship_text-wrap {
    left: 45%;
  }
}

@media (min-width: 990px) {
  .ship_text-wrap {
    left: 34%;
  }
}

.ship_text {
  font-size: 6.4rem;
  color: #fff;
  letter-spacing: .1em;
  text-shadow: 0 10px 15px rgba(2, 11, 22, 0.2);
  opacity: 1;
  -webkit-transform: translateX(0%) translateY(0%);
          transform: translateX(0%) translateY(0%);
}

@media (max-width: 800px) {
  .ship_text {
    font-size: 3.2rem;
  }
}

@media (max-width: 420px) {
  .ship_text {
    font-size: 2.4rem;
    text-shadow: 0 4px 6px rgba(2, 11, 22, 0.2);
  }
}

p {
  line-height: 2;
  word-wrap: break-word;
  white-space: normal;
}

.cloud-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -100;
}

@media (max-width: 420px) {
  .cloud-background {
    height: 100%;
    bottom: 0;
    margin: auto;
    max-height: 667px;
  }
}

.cloudLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 29.427%;
  margin: auto;
  height: 1385px;
  width: 1385px;
  z-index: -100;
}

@media (max-width: 800px) {
  .cloudLayer {
    width: 100vw;
    height: 100vw;
    left: 23%;
  }
}

@media (max-width: 420px) {
  .cloudLayer {
    width: 165vw;
    height: 165vw;
    left: 50%;
    top: -10rem;
    bottom: auto;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}

.cloudlayer_wrap {
  width: 100%;
  height: 100%;
}

.cloudlayer_img.cl-01 {
  background: url("../img/cloud-01.svg") no-repeat;
}

.cloudlayer_img.cl-01-a {
  background: url("../img/cloud-01-a.svg") no-repeat;
}

.cloudlayer_img.cl-02 {
  background: url("../img/cloud-02.svg") no-repeat;
}

.cloudlayer_img.cl-02-b {
  background: url("../img/cloud-02-b.svg") no-repeat;
}

.cloudlayer_img.cl-02-a {
  background: url("../img/cloud-02-a.svg") no-repeat;
}

.cloudlayer_img.cl-03 {
  background: url("../img/cloud-03.svg") no-repeat;
}

.cloudlayer_img.cl-03-a {
  background: url("../img/cloud-03-a.svg") no-repeat;
}

.cloudlayer_img.cl-03-b {
  background: url("../img/cloud-03-b.svg") no-repeat;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li,
ul,
ol {
  list-style-type: none;
}

* a {
  text-decoration: none;
}

body {
  font-family: 'Asap','Chivo', 'sans-serif','Helvetica Neue', 'Helvetica', 'Arial';
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1;
}

.bkgColor {
  background: url("../img/background.svg") no-repeat;
  background-size: cover;
  z-index: -200;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-position: center;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
