//Accepts multiple flexbox parameters
@mixin flexbox(
$disp:flex,
$dir:null,
$flex:null,
$wrap:null,
$just:null,
$align-items:null,
$align-self: null) {
  display: $disp;
  flex-direction: $dir;
  justify-content: $just;
  flex: $flex;
  flex-wrap: $wrap;
  align-self: $align-self;
  align-items: $align-items;
}


@mixin bk ($bkUrl: null) {
  background: $bkUrl no-repeat center;
  background-size: cover;
}


@mixin skillsetP {
  background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}

@mixin skillsetPIn ($speed: null){
  animation: $speed 1.5s forwards;
}
