.page-top .image__projects {
  @include bk($bkUrl: url("../img/bay.jpg"));
}

.wrapper .btn-wrap {
  margin-top: 12rem;
  @include flexbox($just: center);
  & .btn {
    background: #1f2a5f;
    color: $white;
  }
  @media screen and (max-width: 420px){
    margin-top: 5rem;
  }
}

.meta {
  padding-top: 7.2rem;
  position: relative;
}

.meta_back{
  width: 100%;
  height: 70rem;
  background: #f4f4f5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  @media screen and (max-width: 800px){
    height: 54rem;
  }
  @media screen and (max-width: 420px){
    height: 45rem;
  }
}

.meta_text-wrap {
  padding: 0 8.58333% 0;
  @media screen and (max-width: 420px){
    padding: 0 7.5% 0;
  }
}

.meta_text {
  @include flexbox();
  margin-bottom: 7.2rem;
  @media screen and (max-width: 420px){
    flex-direction: column;
  }
  & li {
    margin-right: 6.4rem;
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 420px){
      margin-right: 0;
      margin-bottom: 1.6rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  & .small-title {
    margin-bottom: 0.8rem;
    @media screen and (max-width: 420px){
      margin-bottom: 0.4rem;
    }
  }
}

.text_works {
  width: 65.5%;
  @media screen and (max-width: 800px){
    width: 100%;
    margin-top: 7.2rem;
  }
  @media screen and (max-width: 420px){
    margin-top: 4rem;
  }
}

.big-image {
  width: 100%;
  height: 58rem;
  &.one{
    @include bk($bkUrl: url("../img/gameshow.png"));
  }
  &.two{
    @include bk($bkUrl: url("../img/employee.png"));
  }
  &.three{
    @include bk($bkUrl: url("../img/dashboard.png"));
  }
  &.four{
    @include bk($bkUrl: url("../img/gallery.png"));
  }
  &.five{
    @include bk($bkUrl: url("../img/form.png"));
  }
  &.six{
    @include bk($bkUrl: url("../img/style.png"));
  }
  margin-top: 14.4rem;
  @media screen and (max-width: 420px){
    margin-top: 7.2rem;
    height: 17rem;
  }
}

.back-btn-wrap {
  text-align: left;
}

.back-btn {
  display: inline-block;
  font-size: 3.2rem;
  color: #020b16;
  letter-spacing: 0.2em;
  position: relative;
  transition: 0.5s;
  transform: translate3d(44px, 0, 0);
  @media screen and (max-width: 420px){
    font-size: 1.6rem;
    transform: translate3d(22px, 0, 0);
  }
}

.back-btn:after {
  content: "";
  width: 64px;
  height: 2px;
  background: #020b16;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -88px;
  margin: auto;
  transition: 0.5s;
  @media screen and (max-width: 420px){
    width: 32px;
    left: -44px;
  }
}
